app:
  name: Cat Cafe API
  port: 8888
database:
  driver:
  host:
  port:
  name: cat_cafe_db
  username:
  password:
  sslMode: disable
redis:
  host: 127.0.0.1:6379
  password:
  DB:
jwt:
  secretKey:
  tokenDuration: 24
